// -----------------------------------------------------------------------------
// Media max mixin
// -----------------------------------------------------------------------------
// Usage: @include media-max(sm) - sm, lg, xl etc.
// -----------------------------------------------------------------------------

@mixin media-max($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($grid-breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($grid-breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}
