// -----------------------------------------------------------------------------
// Benefits section
// -----------------------------------------------------------------------------
// 1. Service icon
// -----------------------------------------------------------------------------

section.benefits-section {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    > .row {
      justify-content: center;
    }
  }
  .info-wrapper {
    margin-bottom: 0;
    .title {
      margin-bottom: 60px;
    }
  }
  .service {
    display: flex;
    justify-content: center;

    &:nth-child(2), &:nth-child(3) {
      margin-bottom: 40px;
    }

    // 1. Service icon
    .service-inner {
      width: 80%;
      display: flex;
      align-items: center;
      .sq {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        min-width: 56px;
        position: relative;
        background-color: $color-primary;
        &:before {
          content: '';
          position: absolute;
          bottom: -16px;
          right: 0;
          border-top: 0 solid transparent;
          border-bottom: 16px solid transparent;
          border-right: 10px solid #820744;
        }
        .icon {
          display: block;
          width: 26px;
          height: 26px;
          color: $color-white;
        }
      }
      .text-wrapper {
        padding-left: 15px;
        padding-top: 8px;
        user-select: none;
        h3 {
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 0.02em;
          color: $color-dark-gray;
          margin-bottom: 5px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
          color: $color-gray;
        }
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        .text-wrapper {
          h3 {
            font-size: 16px;
            line-height: 18px;
          }
          p {
            font-size: 13px;
            line-height: 16px;
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }

    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
