// -----------------------------------------------------------------------------
// Calculator section
// -----------------------------------------------------------------------------

section.calculator-section {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
