// -----------------------------------------------------------------------------
// FAQ section
// -----------------------------------------------------------------------------
// 1. Accordion
// -----------------------------------------------------------------------------

section.faq-section {
  padding-top: 60px;
  padding-bottom: 120px;

  .container {
    > .row {
      justify-content: center;
    }
  }

  // 1. Accordion
  #accordion {
    user-select: none;
    .accordion-item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      .accordion-header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-light-gray;
        border-left: solid 4px $color-primary;
        min-height: 54px;
        padding: 10px 20px;

        h3 {
          font-size: 15px;
          line-height: 16px;
          letter-spacing: 0.02em;
          color: $color-dark-gray;
        }
        .icon {
          min-width: 20px;
          min-height: 20px;
          width: 20px;
          height: 20px;
          margin-left: 20px;
        }
      }
      .accordion-body {
        padding: 25px 20px 13px;
        p {
          font-size: 15px;
          line-height: 20px;
          color: $color-gray;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
