// -----------------------------------------------------------------------------
// Hero section
// -----------------------------------------------------------------------------\
// 1. Hero info
// -----------------------------------------------------------------------------

section.hero-section {
  height: 580px;
  .container {
    height: 100%;
    > .row {
      height: 100%;
      align-items: center;
    }
  }

  // 1. Hero info
  .hero-info {
    padding: 0 15px;
    width: 480px;
    user-select: none;
    h2 {
      font-size: 28px;
      letter-spacing: 0.02em;
      line-height: 36px;
      color: $color-dark-gray;
      margin-bottom: 20px;
    }
    p {
      font-size: 15px;
      letter-spacing: 0.02em;
      line-height: 20px;
      margin-bottom: 20px;
    }
    .get-case {
      font-size: 15px;
      font-weight: bold;
      background-color: $color-primary;
      padding: 0 40px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      vertical-align: middle;
      border-radius: 2px;
      border: none;
      color: $color-white;
      outline: none;
      cursor: pointer;
      transition: background-color ease-in-out 300ms;
      &:hover {
        background-color: $color-primary-dark;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    height: 400px;
    .hero-info {
      text-align: center;
      width: 100%;
      .get-case {
        margin: 0 auto;
      }
    }
  }
}
