// -----------------------------------------------------------------------------
// Monitoring section
// -----------------------------------------------------------------------------

section.section-monitoring {
  padding-top: 120px;
  padding-bottom: 60px;
  .container {
    > .row {
      justify-content: center;
    }
  }
  .image-col {
    .image {
      background: center no-repeat;
      background-size: contain;
      height: 320px;
    }

  }
  .wrapper {
    user-select: none;
    align-items: center;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 60px;
    padding-bottom: 30px;
    .info-wrapper {
      margin-bottom: 30px;
    }
    .image-col {
      .image {
        height: 240px;
      }
    }
  }
}
