// -----------------------------------------------------------------------------
// Never easier section
// -----------------------------------------------------------------------------

section.never-easier-section {
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    > .row {
      justify-content: center;
    }
  }
  .info-wrapper {
    .center {
      margin-bottom: 50px;
    }
  }
  .image-col {
    .image {
      background: center no-repeat;
      background-size: contain;
      height: 320px;
    }

  }
  .wrapper {
    display: flex;
    align-items: center;
    .list {
      user-select: none;
      li {
        position: relative;
        min-height: 40px;
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        &:before {
          content: '';
          position: absolute;
          width: 2px;
          height: 100%;
          left: 30px;
          top: 0;
          background-color: $color-light-gray;
        }
        .num {
          font-size: 28px;
          line-height: 1;
          font-weight: bold;
          color: $color-primary;
          padding-right: 15px;
        }
        .text {
          vertical-align: middle;
          display: inline-block;
          padding-left: 15px;
          font-size: 18px;
          line-height: 1;
          height: 100%;
          color: $color-dark-gray;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
    .image-col {
      .image {
        height: 240px;
      }
    }
    .wrapper {
      .list {
        margin-bottom: 30px;
        li {
          &:not(:last-child) {
            margin-bottom: 15px;
          }
          .num {
            font-size: 22px;
          }
          .text {
            font-size: 16px;
          }
        }
      }
    }
  }

}
