// -----------------------------------------------------------------------------
// Potential section
// -----------------------------------------------------------------------------
// 1. Companies
// -----------------------------------------------------------------------------

section.potential-section {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    > .row {
      justify-content: center;
    }
  }
  .heading {
    margin-bottom: 30px;
  }

  // 1. Companies
  .comp-col {
    height: 105px;
    .comp-wrap {
      position: relative;
      background-color: $color-white;
      box-shadow: 0 2px 8px rgba($color-black, 0.08);
      height: 100%;
      padding: 15px;
      .icon {
        position: absolute;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        width: 140px;
        bottom: 30px;
        height: 50px;
        &.gazprom {
          bottom: 37px;
        }
        &.lukoil {
          width: 110px;
          bottom: 27px;
        }
        &.rostelekom {
          width: 110px;
          bottom: 33px;
        }
        &.vtb {
          width: 100px;
          bottom: 30px;
        }
        @include media-breakpoint-down(lg) {

          &.gazprom {
            width: 100px;
            bottom: 20px;
          }
          &.lukoil {
            width: 90px;
            bottom: 13px;
          }
          &.rostelekom {
            width: 90px;
            bottom: 18px;
          }
          &.vtb {
            width: 80px;
            bottom: 18px;
          }
        }
        @include media-breakpoint-down(md) {
          &.gazprom {
            width: 80%;
            bottom: 25px;
          }
          &.lukoil {
            width: 80%;
            bottom: 17px;
          }
          &.rostelekom {
            width: 80%;
            bottom: 20px;
          }
          &.vtb {
            width: 60%;
            bottom: 22px;
          }
        }
      }

    }
    @include media-breakpoint-down(lg) {
      height: 80px;
    }
    @include media-breakpoint-down(md) {
      height: 90px;

      &:nth-child(2), &:nth-child(3) {
        margin-bottom: 30px;
      }
      .comp-wrap {
        padding: 20px;
      }
    }
    @include media-breakpoint-down(sm) {
      height: 90px;
      padding: 0 10px;
      &:nth-child(2), &:nth-child(3) {
        margin-bottom: 20px;
      }
    }
  }

  .more {
    color: $color-primary;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    user-select: none;
    padding-top: 25px;
  }

  @include media-breakpoint-down(sm){
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
