// -----------------------------------------------------------------------------
// Flex-box grid creation
// -----------------------------------------------------------------------------
// 1. Container
// 2. Fluid container
// 3. Row
// 4. Columns
// -----------------------------------------------------------------------------

// 1. Container ----------------------------------------------------------------

.container {
  // noinspection SassScssResolvedByNameOnly
  @include make-container();
  // noinspection SassScssResolvedByNameOnly
  @include make-container-max-widths();
}

// 2. Fluid container ----------------------------------------------------------

.container-fluid {
  // noinspection SassScssResolvedByNameOnly
  @include make-container();
}

// 3. Row ----------------------------------------------------------------------

.row {
  // noinspection SassScssResolvedByNameOnly
  @include make-row();

  // Row without columns gutters
  &.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// 4. Columns ------------------------------------------------------------------

// noinspection SassScssResolvedByNameOnly
@include make-grid-columns();

