// -----------------------------------------------------------------------------
// Flex-box grid configuration
// -----------------------------------------------------------------------------
// 1. Grid breakpoints
// 2. Grid containers width
// 3. Grid columns
// -----------------------------------------------------------------------------
// Note: You can override this default values in your variable config
// -----------------------------------------------------------------------------

// 1. Grid breakpoints ---------------------------------------------------------

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//noinspection SassScssResolvedByNameOnly
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
//noinspection SassScssResolvedByNameOnly
@include _assert-starts-at-zero($grid-breakpoints);

// 2. Grid containers ----------------------------------------------------------

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

//noinspection SassScssResolvedByNameOnly
@include _assert-ascending($container-max-widths, "$container-max-widths");

// 3. Grid columns -------------------------------------------------------------

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
