// -----------------------------------------------------------------------------
// Footer layout
// -----------------------------------------------------------------------------
// 1. Logo
// 2. Contacts
// 2. Info
// -----------------------------------------------------------------------------

footer.page-footer {
  background-color: $color-dark-gray;
  padding: 60px 0 70px;

  .container {
    > .row {
      justify-content: space-between;
    }
  }

  .main {
    margin-bottom: 40px;
    // 1. Logo
    .logo {
      display: flex;
      a {
        display: block;
        height: 100px;
        width: 113px;
        .icon {
          color: $color-light-gray;
        }
        @include media-breakpoint-down(sm) {
          height: 60px;
          width: 68px;
        }
      }
      p {
        display: inline-block;
        font-size: 13px;
        letter-spacing: 0.02em;
        line-height: 15px;
        user-select: none;
        align-self: flex-end;
        padding-left: 20px;
        span {
          color: $color-white;
          font-weight: bold;
        }
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    // 2. Contacts
    .contacts {
      display: flex;
      align-items: center;
      a {
        font-size: 17px;
        line-height: 25px;
        font-weight: bold;
        position: relative;
        padding-left: 26px;
        display: block;
        color: $color-light-gray;
        &:first-child {
          margin-right: 15px;
          &:after {
            content: '';
            position: absolute;
            right: -15px;
            height: 100%;
            width: 1px;
            background-color: $color-light-gray;
          }
        }
        &:last-child {
          margin-left: 15px;
        }
        &:hover {
          color: $color-light-gray;
        }
        .icon {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          color: $color-light-gray;
          display: block;
          width: 16px;
          height: 16px;
        }
      }
      @include media-breakpoint-down(sm) {
        a {
          font-size: 16px;
          &:last-child {
            // Hide text
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            width: 16px;
            padding-left: 16px;
          }
        }
      }
    }
  }

  // 3. Info
  .info {
    user-select: none;
    .info-col:last-child {
      p:first-child {
        margin-bottom: 16px;
      }
    }
    p {
      font-size: 13px;
      line-height: 18px;
      color: $color-gray;
    }
    @include media-breakpoint-down(sm) {
      .info-col:first-child {
        margin-bottom: 20px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 30px 0 35px;
  }
}
