// -----------------------------------------------------------------------------
// Header layout
// -----------------------------------------------------------------------------
// 1. Logo
// 2. Contacts
// -----------------------------------------------------------------------------
header.page-header {
  padding-top: 60px;
  .container {
    > .row {
      justify-content: space-between;
    }
  }

  // 1. Logo
  .logo {
    display: flex;
    a {
      display: block;
      height: 100px;
      width: 113px;
      .icon {
        color: $color-logo;
      }
      @include media-breakpoint-down(sm) {
        height: 60px;
        width: 68px;
      }
    }
    p {
      display: inline-block;
      font-size: 13px;
      letter-spacing: 0.02em;
      line-height: 15px;
      user-select: none;
      span {
        color: $color-dark-gray;
        font-weight: bold;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  // 2. Contacts
  .contacts {
    display: flex;
    align-items: flex-start;
    a {
      font-size: 17px;
      line-height: 25px;
      font-weight: bold;
      position: relative;
      padding-left: 26px;
      display: block;
      color: $color-primary;
      &:first-child {
        margin-right: 15px;
        &:after {
          content: '';
          position: absolute;
          right: -15px;
          height: 100%;
          width: 1px;
          background-color: $color-gray;
        }
      }
      &:last-child {
        margin-left: 15px;
      }
      &:hover {
        color: $color-primary-dark;
      }
      .icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: $color-dark-gray;
        display: block;
        width: 16px;
        height: 16px;
      }
    }
    @include media-breakpoint-down(sm) {
      a {
        font-size: 16px;
        &:last-child {
          // Hide text
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          width: 16px;
          padding-left: 16px;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: 30px;
  }
}
