// -----------------------------------------------------------------------------
// Styles config
// -----------------------------------------------------------------------------
// 1. Color palette
// 2. Fonts
// 3. Grid configurations
// -----------------------------------------------------------------------------

// 1. Color palette ------------------------------------------------------------

$color-white: #ffffff;
$color-black: #000000;
$color-logo: #7C0040;
$color-primary: #820744;
$color-primary-dark: #680537;
$color-dark-gray: #333333;
$color-gray: #707070;
$color-light-gray: #EAEAEA;


// 2. Fonts --------------------------------------------------------------------

$font-base: 'Circle', Arial, Tahoma, sans-serif;

// 3. Grid configurations ------------------------------------------------------

$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 560px,
  md: 720px,
  lg: 960px,
  xl: 1170px
);

