// -----------------------------------------------------------------------------
// Helper classes
// -----------------------------------------------------------------------------
// 1. Prevent user selection
// 2. Text align
// 3. Text transform
// 4. Text clip
// -----------------------------------------------------------------------------

// 1. Prevent user selection ---------------------------------------------------
.no-select {
  user-select: none;
}

// 2. Text align ---------------------------------------------------------------
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// 3. Text transform -----------------------------------------------------------
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

// 4. Text clip ----------------------------------------------------------------
.text-clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
