include ./mixins/utils
doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title="Solid"
    link(rel="apple-touch-icon" sizes="180x180" href="./static/meta/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./static/meta/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./static/meta/favicon-16x16.png")
    link(rel="manifest" href="./static/meta/site.webmanifest")
    meta(name="msapplication-TileColor" content="#820744")
    meta(name="theme-color" content="#ffffff")
    meta(name="keywords" content="Add keywords")
    meta(name="description" content="Add description")
    meta(name="author" content="Solid")
    meta(name="copyright" content="Solid copyrights")
    meta(name="reply-to" content="")
  body

    +img-bg('div','hero-bg.jpg')(class='hero-bg')
      //- Header -----------------------------------------------------------------
      include ./layouts/header

      //- Hero section -----------------------------------------------------------
      include ./sections/hero-section

    //- Monitoring section -----------------------------------------------------
    include ./sections/monitoring-section

    //- Potential section ------------------------------------------------------
    include ./sections/potential-section

    //- Always alert section ---------------------------------------------------
    include ./sections/always-alert-section

    //- Never easier section ---------------------------------------------------
    include ./sections/never-easier-section

    //- Benefits section -------------------------------------------------------
    include ./sections/benefits-section

    //- Calculator section -----------------------------------------------------
    include ./sections/calculator-section

    //- FAQ section ------------------------------------------------------------
    include ./sections/faq-section

    //- Footer -----------------------------------------------------------------
    include ./layouts/footer
