//- Always alert section -------------------------------------------------------

section.always-alert-section: .container: .row
  .col-12.col-md-10: .row.wrapper
    .col-12.col-md-6
      .info-wrapper
        h2.title.side Всегда начеку
        p.text
          | Если помощник заметит финансовые проблемы у компании
          | или отсутствие перспектив роста, он порекомендует
          | продать или купить соответствующие ценные бумаги.
    .col-12.col-md-6.image-col
      +img-bg('div','rb-2.png')(class='image')

