//- Benefits section -----------------------------------------------------------

-
  var lists = [
    {
      icon: 'filter',
      title: 'Тщательный отбор',
      text: 'Вы инвестируете в компании, отобранные по наибольшему потенциалу роста'
    },
    {
      icon: 'briefcase',
      title: 'Персональный портфель',
      text: 'Умный помощник предложит портфель на основе ваших предпочтений'
    },
    {
      icon: 'lock',
      title: 'Вы владелец ценных бумаг',
      text: 'Вы открываете личный брокерский счет через надежного брокера «Солид»'
    },
    {
      icon: 'slider',
      title: 'Контроль риска',
      text: 'Помощник следит за состоянием компаний и рекомендует, что следует заменить'
    }
  ]
section.benefits-section: .container: .row
  .col-12.col-xl-10: .row.wrapper
    .col-12.text-center
      .info-wrapper
        h2.title.center Преимущества сервиса
    each list in lists
      .col-12.col-md-6.service
        .service-inner
          .sq
            i.icon: +svg(list.icon)
          .text-wrapper
            h3=list.title
            p=list.text
