//- FAQ section ----------------------------------------------------------------

-
  var lists = [
    {
      title: 'Какие риски?',
      text: 'В долгосрочной перспективе рынок растет: растут компании и их обороты. При правильном распределении денег по ценным бумагам разных компаний, заработок инвестора — вопрос времени. А сервис как раз нацелен на долгосрочные инвестиции. На коротком сроке стоимость ценных бумаг может как расти, так и падать. Чтобы предугадать эти изменения, мы делаем оценку и прогнозы, но предусмотреть всё невозможно — слишком много факторов влияет на рынок. Чем выше доходность, которую инвестор хочет получить, тем выше риск потерять часть денег. Это правило для всех инвестиций. При создании портфеля помощник определяет допустимый для конкретного пользователя уровень риска и выбирает бумаги, которые с наибольшей вероятностью не просядут больше этого уровня. Как правило, просадка до 20% без значительных видимых причин не требует вмешательства: бумага имеет шансы подрасти, а продажа на падении — это гарантированный убыток. Если просадка будет значительной, к управлению подключатся наши специалисты.'
    },
    {
      title: 'Нужно ли платить налоги с дохода?',
      text: 'Если свободных денег на вашем счёте достаточно, их спишут и НДФЛ будет уплачен за вас. Налоговым агентом выступает брокер — «Солид». Для физлиц — резидентов РФ ставка составляет 13%. Налог удерживается при выводе денежных средств, по итогам года или когда заканчивается брокерский договор. Однако, инвестор освобожден от налога на купонный доход на все облигации федерального займа (ОФЗ), а также по рублевым корпоративным облигациям, выпущенным в период с 1 января 2017 года по 31 декабря 2020'
    },
    {
      title: 'Деньги и ценные бумаги хранятся у вас?',
      text: 'Нет, активы хранятся на вашем брокерском счету в АО «Солид». Счёт и всё, что на нём есть, принадлежит вам. У нас нет доступа к вашим активам, но нам известно, что именно хранится на вашем счету. Вы можете наблюдать за своим счётом через личный кабинет «Солида» и можете в любой момент вывести все деньги или часть средств с брокерского счёта.'
    },
    {
      title: 'Сервис работает круглосуточно?',
      text: 'Да, но сделки совершает с понедельника по пятницу с 10:30 до 18:15 по московскому времени, потому что они совершаются на Московской бирже, а её время работы ограничено.'
    },
    {
      title: 'Когда я могу продать портфель и вывести деньги?',
      text: 'В любой момент. Просто зайдите в свой кабинет и нажмите «Продать всё». Деньги поступят на ваш брокерский счёт через несколько минут. Затем подайте заявку на вывод денег в личном кабинете брокера. Закрывать счёт не требуется. Заявка на вывод исполняется до двух рабочих дней. Деньги выводятся на любую карту или банковский счёт без комиссии.'
    },
    {
      title: 'На какой срок стоит инвестировать?',
      text: 'Сервис показывает хорошие результаты при инвестировании более чем на один год.'
    },
    {
      title: 'Если я внесу на счёт денег, умный помощник докупит бумаги в сформированный портфель?',
      text: 'Да, при следующей ребалансировке портфеля докупятся ценные бумаги в рамках вашего риск-профиля.'
    },
    {
      title: 'Можно ли вложить больше миллиона?',
      text: 'Да, просто внесите деньги на счёт. Сервис купит бумаги на всю сумму свободных денежных средств на счёте.'
    }
  ]
section.faq-section: .container: .row
  .col-12.col-lg-10: .row.wrapper
    .col-12.text-center
      .info-wrapper
        h2.title.center Ответы на частые вопросы
    .col-12#accordion
      each list in lists
        .accordion-item
          .accordion-header
            h3=list.title
            i.icon: +svg('plus')
          div.accordion-body
            p=list.text
