//- Hero section ---------------------------------------------------------------

section.hero-section: .container: .row
  .col: .hero-info
    h2 Инвестируйте в своё будущее
    p Получите персональный инвестиционный портфель от умного помощника
    button.get-case(data-mf='test') Собрать портфель

