//- Monitoring section ---------------------------------------------------------

section.section-monitoring: .container: .row
  .col-12.col-md-10: .row.wrapper
    .col-12.col-md-6.order-md-0.order-1.image-col
      +img-bg('div','rb-1.png')(class='image')
    .col-12.col-md-6
      .info-wrapper
        h2.title.side Aктивный мониторинг рынка
        p.text
          | Умный помощник изучает финансовое состояние крупнейших
          | российских компаний на основе фундаментального анализа
          | и математических алгоритмов

