//- Never easier section -------------------------------------------------------
-
  var lists = [
    'Выберите уровень доходности и сумму инвестиций',
    'Получите сбалансированный портфель из акций и облигаций',
    'Внесите деньги для покупки ценных бумаг',
    'Следите за ростом своих вложений. Умный помощник поможет Вам преуспеть'
  ]
section.never-easier-section: .container: .row
  .col-12.col-lg-10: .row.wrapper
    .col-12.text-center
      .info-wrapper
        h2.title.center Проще не бывает
    .col-12.col-md-6.order-md-0.order-1.image-col
      +img-bg('div','rb-3.png')(class='image')
    .col-12.col-md-6
      ul.list
        each list, index in lists
          li
            span.num=index+1
            span.text=list
