//- Potential Portfolio section ------------------------------------------------
-
  var companies = [
    'gazprom',
    'lukoil',
    'rostelekom',
    'vtb'
  ]

section.potential-section: .container: .row
  .col-12.col-md-8
    .row
      .col-12.heading
        .info-wrapper.text-center
          h2.title.center Потенциальный состав портфеля
          p.text Вы инвестируете в компании, отобранные по наибольшему потенциалу роста
      each company in companies
        .col-6.col-lg-3.comp-col
          .comp-wrap
            i.icon(class=company): +svg(company)
      .col-12
        p.more и ещё 97 компаний
