// -----------------------------------------------------------------------------
// Global stylesheets
// -----------------------------------------------------------------------------
// 1. Body
// 2. SVG
// 3. Inputs
// 4. Hero-bg
// 5. Titles & text
// -----------------------------------------------------------------------------


// 1. Body styles --------------------------------------------------------------
body {
  font: {
    family: $font-base;
    size: 18px;
    weight: 400;
  }
  background-color: $color-white;
  color: $color-gray;
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 320px;
}

// 2. SVG ----------------------------------------------------------------------
svg {
  display: block;
  color: inherit;
  width: 100%;
  height: 100%;
}


// 3. Inputs -------------------------------------------------------------------
input[type="text"], input[type="email"],
input[type="password"], input[type="tel"],
input[type="search"] {
  width: 100%;
  outline: none;
  display: block;
  font: {
    size: 16px;
    weight: 400;
    family: inherit;
  }
  color: $color-gray;
  transition: border 200ms ease-in-out;

  &::placeholder {
    color: $color-light-gray;
    font-weight: 300;
  }
}

// 4. Hero-bg ------------------------------------------------------------------
.hero-bg {
  background: no-repeat center;
  background-size: cover;
  @include media-breakpoint-down(lg) {
    background-position: 80% 0;
  }
  @include media-breakpoint-down(md) {
    background-position: 0 0;
  }

}

// 5. Titles & text ------------------------------------------------------------
.info-wrapper {
  user-select: none;
  .title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: $color-dark-gray;
    &.side {
      margin-bottom: 15px;
      &:first-letter {
        color: $color-white;
        background-color: $color-primary;
        padding: 0 5px;
        margin-right: 4px;
      }
      @include media-breakpoint-down(sm) {
        &:first-letter {
          color: $color-dark-gray;
          background-color: transparent;
          padding: 0;
          margin-right: 0;
        }
        position: relative;
        text-align: center;
        display: inline-block;
        margin: 0 auto 50px;
        &:before {
          content: '';
          position: absolute;
          bottom: -20px;
          left: 0;
          background-color: $color-light-gray;
          width: 100%;
          height: 1px;
        }
        &:after {
          content: '';
          position: absolute;
          left: calc(50% - 3px);
          bottom: -22.5px;
          transform: rotate(45deg);
          width: 6px;
          height: 6px;
          background-color: $color-primary;
        }
      }
    }
    &.center {
      position: relative;
      text-align: center;
      display: inline-block;
      margin: 0 auto 50px;
      &:before {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        background-color: $color-light-gray;
        width: 100%;
        height: 1px;
      }
      &:after {
        content: '';
        position: absolute;
        left: calc(50% - 3px);
        bottom: -22.5px;
        transform: rotate(45deg);
        width: 6px;
        height: 6px;
        background-color: $color-primary;
      }
    }
    @include media-breakpoint-down(sm) {
      font-size: 20px;
      line-height: 26px;
    }
  }
  .text {
    font-size: 15px;
    line-height: 20px;
    color: $color-gray;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}









