//- Footer layout --------------------------------------------------------------

footer.page-footer: .container
  .row.main
    .col-auto.logo
      a(href='/'): i.icon: +svg('logo')
      p
        | в партнерстве
        br
        | c
        |
        span RIGHT
    .col-auto.contacts
      a(href='tel:88005553535' data-mf='test') 8 800 555 35 35
        i.icon: +svg('phone')
      a(href='mailto:solidtest@email.com' data-mf='test') solidtest@email.com
        i.icon: +svg('email')
  .row.info
    .col-12.col-md-6.info-col
      p
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        | nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        | sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        | rebum. Stet clita kasd gubergren, no sea takimata sanctus est
        | Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        | sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
    .col-12.col-md-6.info-col
      p
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        | nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        | sed diam voluptua. At.
      p
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        | nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        | sed diam voluptua. At.
