//- Header layout --------------------------------------------------------------

header.page-header: .container: .row
  .col-auto.logo
    a(href='/'): i.icon: +svg('logo')
    p
      | в партнерстве
      br
      | c
      |
      span RIGHT
  .col-auto.contacts
    a(href='tel:88005553535' data-mf='test') 8 800 555 35 35
      i.icon: +svg('phone')
    a(href='mailto:solidtest@email.com' data-mf='test') solidtest@email.com
      i.icon: +svg('email')
