//-
  Image mixin
  @param {string} file - Name and extension: 'my-image.jpg'
  @param {string} alt - Text of alt attribute
mixin img(file)
  img(src=require('@/img/' + file))&attributes(attributes)

//-
  SVG sprite mixin
  @param {string} iconID - Name of icon ID attribute without #: 'icon-help'
mixin svg(icon_id)
  svg&attributes(attributes): use(xlink:href=require('@/img/graphics.svg') + '#' + icon_id)

//-
  Element with background image
  @param {string} tag - Name of element tag: 'div', 'a', 'ul'
  @param {string} file - Name and extension: 'my-image.jpg'
mixin img-bg(tag, bg_file)
  - var file_url = require('@/img/' + bg_file)
  #{tag}(style="background-image: url(" + file_url + ");")&attributes(attributes): block

mixin heading(tag,text)
  #{tag}(class="heading")&attributes(attributes)
    .sq
    | #{text}
//-
  Title row mixin
  @param {string} tag -Name of element tag: 'h1', 'h2', 'h3'
  @param {string} tag - text

mixin title(tag,text)
  .row.row-title
    .col.title-col.text-center
      .title
        #{tag}(class='heading')&attributes(attributes)=text

